/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d6e96;
    color: white;
    padding: 0.5rem 1.5rem;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.nav-buttons a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    text-decoration: none;
    padding: 6px 10px;
    border: #455a64;
    border-radius: 4px;
    transition: background 0.3s;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

.nav-buttons a:hover {
    background-color: #888d92;
} */